<!DOCTYPE html>
  <html>
    <body>
      <h2>HTML Forms</h2>
      <h3>{% if info %}
        {{info}}
        {%endif%}
        {% if id %}
        {{id}}님
        <button onclick="location.href='/logout'">로그아웃</button>
        {% else %}
        <form method="POST" action="/login/">
          ID <input type="text" id="id" name="u_id"><br>
        PASS <input type="text" id="pw" name="u_pw"><br>
        <input type="submit" value="Submit">
      </form> 
        {%endif%}
      </h3>
      <a class="btn btn-primary" href="{{ url_for('g_write_con') }}">회원가입</a>
      <a class="btn btn-primary" href="{{ url_for('g_delete_con') }}">회원탈퇴</a>
      <a class="btn btn-primary" href="{{ url_for('g_read') }}">회원검색</a>
      <a class="btn btn-primary" href="{{ url_for('g_update') }}">회원정보변경</a> 
  </body>
</html>